 /*carousel*/
 .carousel-inner img {
      width: 50%; /* Set width to 40% */
      margin: auto;
      min-height:200px;
  }
  
  .carousel-inner {
   width: 90%;
   position: center;
   margin: auto;
  }
