 /*carousel*/
 .carousel-inner img {
      width: 50%; /* Set width to 50% */
      margin: auto;
      min-height:300px;
  }
  
  .carousel-inner {
   width: 90%;
   position: center;
   margin: auto;
  }
  

 /* body {
    background-image: url("paper.gif");
    background-color: #cccccc;
} */
/*carousel*/

 

  #rcorners {
    border-radius: 15px 50px;
    border: 2px solid #0066ff;
    padding: 20px; 
    margin-top: 30px;
}

#rcorners2 {
    border-radius: 15px 50px;
    border: 2px solid #73AD21;
    padding: 20px; 
    margin-top: 30px;
}

#rcorners3 {
    border-radius: 15px 50px;
    border: 2px solid #ff3333;
    padding: 20px; 
    margin-top: 30px;
}


